html, body {
	font-size: 13px;
}
header {
	margin-bottom: 30px;
}
footer {
	margin-top: 30px;
	text-align: center;
	border-top: 1px solid #666;
	padding: 10px;
}

.content {
}

.page-title {
	font-weight: 500;
	font-size: 17px;
	margin-bottom: 20px;
}